<div class="max-w-screen-xl px-4 mx-auto lg:mb-14 pt-14 grid md:grid-cols-5">
  <div class="col-span-1 pb-20 lg:pb-0">{{ partial "images/logo" . }}</div>
  <nav class="col-span-4 flex justify-between items-start flex-wrap">
    {{ $footers := slice .Site.Menus.general .Site.Menus.advanced .Site.Menus.apps }} {{ range $index, $footer := $footers }}
    <ul class="w-full sm:w-1/2 md:w-auto flex-grow pb-6 sm:pb-20 md:pb-0">
      {{ $cat := index $footer 1}} {{ $lastMenu := eq $index (sub (len $footers) 1) }}
      <li class="text-grey-700 mb-6 capitalize">{{ $cat.Menu }}</li>
      {{ range $footer }}
      <li class="mb-6"><a href="{{.URL | absLangURL}}" class="text-gray-200 hover:text-gray-300">{{ .Name }}</a></li>
      {{ end }} {{ if $lastMenu }} {{ end }}
    </ul>
    {{ end }}
    <ul role="menu" class="flex gap-4 items-center sm:w-1/2 md:w-auto pb-6 sm:pb-0">
      {{ range .Site.Menus.social }}
      <li role="presentation">
        {{ $isMenuCurrent := (eq (lower $.Section) (lower .Name)) }}
        <a href="{{ .URL | absLangURL }}" role="menuitem" class="hover:text-dark text-gray-200 flex items-center w-6 h-6" {{ if $isMenuCurrent }}aria-current="page" {{ end }}>
          {{ $icon_template := printf "icons/ico-%s.html" (lower .Name) }} {{ partial $icon_template . }}
        </a>
      </li>
      {{ end}}
    </ul>
  </nav>
</div>
