<a
  href="{{ .URL }}"
  title="{{ .Name }}"
  class="inline-flex font-medium justify-center gap-0.5 items-center w-max rounded-sm leading-tight text-200 px-8 hover:cursor-pointer {{ with .AnalyticsTag }}{{ . }}{{ end }} {{ with .AnalyticsPosition }}plausible-event-position={{ . }}{{ end }}
  {{ if eq .Size "Small" }}
    py-3
  {{ else if eq .Size "Large" }}
    py-4 
  {{ end }}
  {{ if eq .Variant "Outlined" }}
    bg-transparent border {{ if eq .IsReversedColor true }}border-dark text-dark hover:bg-dark/10  after:invert-0{{ else }}border-light text-light hover:bg-light/10  after:invert {{ end }}
  {{ else if eq .Variant "Dark" }}
  {{ if eq .IsReversedColor true }}bg-light hover:bg-light/80 text-dark after:invert-0{{ else }}bg-dark hover:bg-dark/80 text-light after:invert{{ end }}
  {{ else if eq .Variant "DarkOutlined" }}
  {{ if eq .IsReversedColor true }}bg-light hover:bg-light/80 text-dark border border-gray-300 hover:border-dark after:invert-0{{ else }}bg-dark hover:bg-dark/80 text-light border border-gray-300 hover:border-light after:invert{{ end }}
  {{ else if eq .Variant "Light" }}
  {{ if eq .IsReversedColor true }}bg-dark hover:bg-dark/80 text-light after:invert{{ else }}bg-light hover:bg-light/80 text-dark after:invert-0{{end}}
  {{ else if eq .Variant "Colored" }}
  bg-warning-100 hover:bg-warning-100/80 text-black
  {{ end }} "
  {{ with .PixelURL }}data-pixel="{{ . }}"{{ end }}
  {{ with .PixelOn }}data-pixel-on="{{ . }}"{{ end }}
  {{ with .PixelProps }}data-pixel-props='{{ . }}'{{ end }}
>
  {{ with .Icon }}
    <div class="w-max h-6 shrink-0 mr-2">
        {{ $icon_template := printf "icons/ico-%s.html" (lower .) }}
        {{ partial $icon_template . }}
    </div>
  {{ end }}
  {{ .Name | safeHTML }}
</a>
