<article class="bg-dark rounded-sm py-16 flex justify-center w-full img-grid">
  <div class="flex flex-col md:flex-row lg:w-2/3 gap-20 px-8 items-center">
    <img src="{{ .ImgSrc }}" alt="{{ .Title }}" class="max-w-1/2" />
    <div class="text-gray-200 text-left">
      <h3 class="text-light font-semibold pb-8">{{ .Title }}</h3>
      <div class="flex rounded-sm border border-light overflow-auto text-100" data-component="{{ .Comp}}">
        <input class="w-full bg-gray-400 py-4 px-6 outline-none text-light" placeholder="{{ .Placeholder }}" />
        <button class="bg-light hover:bg-light/80 text-dark py-4 px-6 min-w-28 cursor-pointer">Check</button>
      </div>
      <p class="pt-8">{{ .Content | markdownify }}</p>
    </div>
  </div>
</article>
