body {
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */

.header {
  position: relative;
  width: 100%;
  z-index: 3;
  border-bottom: solid 1px white;
  padding: 30px 0 20px;
}

.header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  text-decoration: none;
}

.header a {
  color: white;
}

.header .logo {
  display: block;
  font-size: 1.4em;
  padding: 10px 0;
  font-weight: bold;
  text-decoration: none;
}

/* menu */

.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 3.5rem;
  right: 0;
  user-select: none;
}

.header .menu-icon .navicon {
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    margin-bottom: 0;
  }

  .header nav {
    flex-direction: row;
    align-items: center;
  }

  .header .menu {
    display: flex;
    gap: 1.5rem;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

h1,
h2,
h3 {
  color: #fff;
  margin-top: 50px;
  line-height: 1.2;
  margin-bottom: 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h1 + * {
  margin-top: 25px;
}

h2 + h1,
h3 + h1,
h3 + h2,
h2 + h3 {
  margin-top: 15px;
}

h1 + p,
h1 + ul,
h1 + ol,
h1 + pre,
h2 + p,
h2 + ul,
h2 + ol,
h2 + pre,
h3 + p,
h3 + ul,
h3 + ol,
h3 + pre {
  margin-top: 30px;
}

a {
  color: #bbb;
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol {
  margin-bottom: 30px;
}

ul,
ol {
  padding-left: 20px;
}

ul li,
ol li {
  margin-bottom: 15px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th,
table td {
  border: 1px solid #444;
  padding: 12px;
}

table th {
  background-color: #222;
  color: #fff;
}

table td {
  background-color: #111;
  color: #fff;
}

pre {
  background-color: #111;
  color: #ccc;
  padding: 20px;
  overflow-x: auto;
  border-radius: 5px;
}

code {
  background-color: #222;
  color: #ccc;
  padding: 3px 5px;
  border-radius: 3px;
}
pre > code {
  background-color: transparent;
  padding: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  border-top: solid 1px #ddd;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.footer-socials li {
  display: flex;
}

.footer-socials svg {
  width: 1.5em;
  height: 1.5em;
}

.markdown-alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-left: 5px solid;
  font-size: 1em;
  background-color: #222;
  color: #ddd;
}

.markdown-alert-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.markdown-alert-warning {
  background-color: #5d4500;
  color: #ffcc00;
  border-color: #ffae00;
}

.markdown-alert-info {
  background-color: #1e4f7a;
  color: #5bc0de;
  border-color: #39a9d1;
}

.markdown-alert-success {
  background-color: #234f27;
  color: #5cb85c;
  border-color: #4cae4c;
}

.markdown-alert-danger {
  background-color: #631e1e;
  color: #d9534f;
  border-color: #d43f3a;
}

.markdown-alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-left: 5px solid;
  font-size: 1em;
  background-color: #222;
  color: #ddd;
}

.markdown-alert-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 10px;
}

.markdown-alert-warning {
  border-color: #ffae00;
}
.markdown-alert-warning > .markdown-alert-title {
  color: #ffae00;
}
.markdown-alert-warning svg {
  fill: #ffae00;
}

.markdown-alert-note {
  border-color: #39a9d1;
}
.markdown-alert-note > .markdown-alert-title {
  color: #5bc0de;
}
.markdown-alert-note svg {
  fill: #5bc0de;
}

.markdown-alert-success {
  border-color: #4cae4c;
}
.markdown-alert-success > .markdown-alert-title {
  color: #5cb85c;
}
.markdown-alert-success svg {
  fill: #5cb85c;
}

.markdown-alert-danger {
  border-color: #d43f3a;
}
.markdown-alert-danger > .markdown-alert-title {
  color: #d9534f;
}
.markdown-alert-danger svg {
  fill: #d9534f;
}

.markdown-alert-important,
.markdown-alert-tip {
  border-color: #ddd;
}
.markdown-alert-important > .markdown-alert-title,
.markdown-alert-tip > .markdown-alert-title {
  color: #ddd;
}
.markdown-alert-important svg,
.markdown-alert-tip svg {
  fill: #ddd;
}

.ProgressBar {
  align-items: center;
  gap: 10px;
}

.ProgressBar-svg {
  height: 1px !important;
}
.ProgressBar-svg rect {
  rx: 0px !important;
}
.ProgressBar-background,
.ProgressBar-percentage {
  fill: white !important;
  fill-opacity: 0.4 !important;
}

.ProgressBar-percentage {
  fill-opacity: 1 !important;
}

.is-hidden {
  display: none;
}

.tracker-input {
  width: 22rem;
  max-width: 50vw;
  background-color: white;
}

input,
button {
  background-color: white;
  padding: 0.5rem;
  border: none;
}

.tracker-balance {
  font-weight: bold;
  margin: 1rem 0;
}

.tracker-info {
  font-style: italic;
}

.tracker-balance-detail {
  font-size: 0.8em;
}
