<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AtomOne project website — {{ title }}</title>
    <link rel="stylesheet" href="./static/main.css" />
    <meta
      name="description"
      content="AtomOne is a community-driven fork of the Cosmos Hub that aims to provide a security-conscious, constitutionally governed, streamlined IBC/ICS Hub, preserving the foundational ethos of the Cosmos Hub."
    />
  </head>

  <body>
    <div class="wrapper">
      {{ header }}
      <main>{{ content }}</main>
      {{ footer }}
    </div>
  </body>
</html>
